@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125vh;
    background-color: hsl(225, 100%, 94%);
}

.container{
    width: 480px;
    overflow: hidden;
    height: 700px;
    background-color: #fff;
    border-radius: 1rem;
}

.svg-back > img{
    width: 100%;
}

h2{
    font-weight: 900;
    text-align: center;
    margin-top: 2rem;
    color: hsl(223, 47%, 23%);
}

p{
    width: 320px;
    text-align: left;
    margin: 1.5rem auto;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.container2{
    background-color: hsl(225, 100%, 98%);
    width: 350px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-music-plan-price{
    display: flex;
}

.img-music{
    margin-right: 14px;
}

.anual-plan{
    font-size: 700;
    color: hsl(223, 47%, 23%);
}

.price{
    margin-top: 3px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

button{
    background: none;
    border: none;
}

.change{
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.payment-process{
    background-color: hsl(245, 75%, 52%);
    text-align: center;
    border-radius: 12px;
    width: 350px;
    display: block;
    margin: 2rem auto;
    color: hsl(225, 100%, 98%);
    padding: 1rem 0;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.25s ease-in-out;
}
.payment-process:hover{
    transform: scale(1.07);
}

.cancel-order{
    width: 100%;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    transition: color 0.25s ease-in-out;
}
.cancel-order:hover{
    color: hsl(245, 75%, 52%);
}

@media (max-width: 1000px){
    body{
        height: 100vh;
    }
}

@media (max-width: 600px){
    .container{
        width: 400px;
    }
}
@media (max-width: 500px){
    .container{
        width: 300px;
        height: 600px;
    }
    p{
        width: 250px;
    }
    .container2{
        width: 250px;
    }
    .anual-plan, .price, .change{
        font-size: 12px;
    }
    .payment-process{
        width: 200px;
    }
}